@{
    ViewBag.Title = "Home Page";
}
<link href="~/Assets/css/style.css" rel="stylesheet" />
<link href="~/Assets/css/Login.css" rel="stylesheet" />
<link href="~/Assets/css/ionicons.min.css" rel="stylesheet" />
<div class="container">

    <div class="row align-middle" style="margin-top:60px;">
        <div class="col-lg-6 col-md-12 col-sm-12 section-header aligncontent-middle">
            <div class="mark-header">Accelerate and Amplify Value from Your Information Technology Solution</div>
            <div class="mark-text">
                Are you considering investing in Analytics solutions for your digital transformation? To help you build a business case for this journey, this Value Predictor quantifies the expected value from your investment using a model tailored for your industry and business objectives. A personalized report will help you assess how the IBM Z14 can help you accelerate and amplify value from your hardware investment compared to x86 systems.
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12"></div>
        <div class="col-lg-4 col-md-12 col-sm-12">

            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Login</h3>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form role="form" action="" method="post" class="login-form">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
                        </div>

                        <button type="button" onclick="location.href='@Url.Action("benefits","home")'" class="btn btn-lg btn-primary">Sign in!</button>
                    </form>
                    <hr data-content="or" class="hr-text" />
                    <div class="registertext">Register</div>
                    <form role="form" action="" method="post" class="registration-form">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-group"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Organization Name" aria-label="Organization Name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="First & Last Name" aria-label="First & Last Name" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-mobile"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Mobile" aria-label="Mobile" aria-describedby="basic-addon1">
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary">Sign me up!</button>
                    </form>
                </div>
            </div>
        </div>



    </div>
</div>
