
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/style.css" rel="stylesheet" />
<link href="~/Assets/css/Sensitivity.css" rel="stylesheet" />
<div class="container" style="margin-top:70px;">
    <div class="row">
        <div style="height:30px;"></div>
    </div>
    <div class="row">
        <div class="header1">
            Vary Key Parameters to Study Impact on Results
        </div>
    </div>
    <div class="row">
        <div style="height:30px;"></div>
    </div>
    <div class="row">
        <div class="subcontent">
            <p>You can vary key parameters related to your investment to study their impact on the results.</p>
        </div>
        <div class="subcontent">
            <p>You can vary the hardware investment size and the industry imperative.</p>
        </div>
    </div>
    <div class="row">
        <div style="height:10px;"></div>
    </div>
    <div class="row">
        <div class="header2">
            Detailed Results
        </div>
    </div>
    <div class="row">
        <div style="height:10px;"></div>
    </div>
    <div class="row">
        <div class="subcontent">
            <p>
                To get a new detailed personalized report, click here for the PDF.
            </p>
        </div>
    </div>
    <div class="row">
        <div style="height:30px;"></div>
    </div>
</div>






