.description h6 {
    font-size: 17px;
    color: black;
    text-shadow: 1px 1px;
}

.text {
    color: black;
}

.vcenter {
    display: inline-block !important;
    vertical-align: middle;
    float: none;
}

.texthighlight {
    background-color: rgba(255,255,255,0.4);
}

.fa {
    min-width: 20px;
}

.registertext {
    margin: 5px;
    font-size: 14px;
    line-height: 15px;
}

.aligncontent-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:50px;
}

.mark-header {
    /*background-color: rgba(0, 123, 255,0.9);*/
    color: black;
    text-align: left;
    font-size: 30px;
    padding: 5px;
    color: white;
}

.mark-text {
    /*background-color: rgba(255,255,255,0.9);*/
    color: white;
    text-align: left;
    padding: 5px;
    font-size: 15px;
    line-height: 25px;
}

.section-header {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}


.pb_icon-gradient:before {
    background: #665fee;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pb_icon {
    font-size: 80px;
}

.features {
    background-color: #f2f4f9 !important;
}



.bg-primary {
    background-color: #000 !important;
}

.bg-circle {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
}

.bg-circle-outline {
    width: 50px;
    height: 50px;
    color: smoke;
    padding: 8px 2px;
    border: 2px solid;
    border-color: smoke;
    border-radius: 50%;
}


.bg-circle a, a:hover, .media a:focus {
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}

.bg-circle-outline a, a:hover, .media a:focus {
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}

@media only screen and (max-width: 1200px) {
    .banner-responsive {
        position:inherit;
        padding-top:60px;
    }
    .contain-res {
        margin-top: 20px;
        background-color: #FAF8F8;
    }
}
@media only screen and (min-width: 1200px) {
    .banner-responsive {
        position: absolute;
    }
    .contain-res {
        padding-top: 60px;
    }
}

.svg{
    width:100px;
    padding:10px;
}

body {
    background: #665fee;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#665fee', endColorstr='#27c2de',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
}
