body {
}

/*.navbar
{
    position:sticky;
    top:0px;
    width:100%;
    background-color:black;
}*/

.navbar {
    background-color: rgba(0, 123, 255,0.8);
}

/*.navbar {
    margin-bottom: 0;
    padding-top: 0;
    background-color: #007bff;
    border: 0;
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

.navbar-no-bg {
    padding-top: 10px;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.navbar-nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #888;
    font-weight: 400;
    text-transform: uppercase;
}

    ul.navbar-nav li a {
        background: none;
        color: #888;
        border: 0;
    }

        ul.navbar-nav li a:hover {
            background: none;
            color: #aaa;
            border: 0;
        }

        ul.navbar-nav li a:focus {
            background: none;
            color: #aaa;
            outline: 0;
            border: 0;
        }

.navbar-no-bg ul.navbar-nav {
    color: #fff;
}

    .navbar-no-bg ul.navbar-nav li a {
        color: #fff;
    }

        .navbar-no-bg ul.navbar-nav li a:hover {
            color: #ddd;
        }

        .navbar-no-bg ul.navbar-nav li a:focus {
            color: #ddd;
        }

ul.navbar-nav li a.btn-link-3 {
    position: relative;
    display: inline-block;
    margin: 9px 0 0 15px;
    padding: 6px 15px;
    background: #6eba3c;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

    ul.navbar-nav li a.btn-link-3:hover,
    ul.navbar-nav li a.btn-link-3:focus,
    ul.navbar-nav li a.btn-link-3:active,
    ul.navbar-nav li a.btn-link-3:active:focus {
        outline: 0;
        background: #63a736;
        color: #fff;
    }

.navbar-brand {
    width: 102px;
    background: url(../img/logo-dark.png) left center no-repeat;
    text-indent: -99999px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-no-bg .navbar-brand {
    background-image: url(../img/logo.png);
}

.navbar-toggle .icon-bar {
    background: #555;
}



@media (max-width: 767px) {

    .navbar {
        padding-top: 0;
        background: #fff;
    }

        .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
            margin-left: 15px;
        }

    .navbar-collapse {
        border: 0;
    }

    .navbar-toggle {
        border-color: transparent;
    }

    ul.navbar-nav li a.btn-link-3 {
        margin: 10px;
    }

    .navbar-no-bg {
        -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    }

        .navbar-no-bg .navbar-brand {
            background-image: url(../img/logo-dark.png);
        }

        .navbar-no-bg ul.navbar-nav {
            color: #888;
        }

            .navbar-no-bg ul.navbar-nav li a {
                color: #888;
            }

                .navbar-no-bg ul.navbar-nav li a:hover {
                    color: #aaa;
                }

                .navbar-no-bg ul.navbar-nav li a:focus {
                    color: #aaa;
                }

                .navbar-no-bg ul.navbar-nav li a.btn-link-3 {
                    color: #fff;
                }

                    .navbar-no-bg ul.navbar-nav li a.btn-link-3:hover,
                    .navbar-no-bg ul.navbar-nav li a.btn-link-3:focus,
                    .navbar-no-bg ul.navbar-nav li a.btn-link-3:active,
                    .navbar-no-bg ul.navbar-nav li a.btn-link-3:active:focus {
                        color: #fff;
                    }

}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {

    /* logo */
    .navbar-brand {
        background-image: url(../img/logo-dark@2x.png) !important;
        background-repeat: no-repeat !important;
        background-size: 102px 32px !important;
    }

    .navbar-no-bg .navbar-brand {
        background-image: url(../img/logo-dark@2x.png);
    }
}*/
