
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/Specify.css" rel="stylesheet" />
<link href="~/Assets/css/chartist.css" rel="stylesheet" />
<link href="~/Assets/css/bootstrap-slider.css" rel="stylesheet" />
<link href="~/Assets/css/chartist-plugin-legend.css" rel="stylesheet" />
<div class="container" style="margin-top:70px;">
    <div id="divSpecify">
        <div class="row headertest">
            Specify Your Analytics Initiative
        </div>
        <div class="row">
            <p class="headersubtext">
                Analytics can significantly transform your business by giving you the ability to deliver exceptional
                customer experience, enhance marketing effectiveness, increase operational efficiencies, reduce
                financial risks, improve product quality and reliability, and more. But there are implementation
                challenges and risks that must be managed and overcome to build a compelling financial business
                case for your Analytics initiative.
            </p>
            <p class="headersubtext">
                Here you can personalize your Analytics initiative and specify your industry, business imperative,
                hardware investment and type of analytics in the sequence shown below.
            </p>
            <p class="headersubtext">
                Once you submit your input, the Value Predictor builds a personalized model using data specific to
                your situation. Then, your personalized results summarizing your business case – including additional
                value provided by IBM Z14 over an equivalent x86 system – are reported back to you. You will also
                get an additional detailed personalized report for your records including the key assumptions made
                by the model.
            </p>
        </div>
    </div>
    <div id="divResults" style="display:none;">
        <div class="row headertest">
            Your Personalized Results
        </div>
        <div class="row">
            <p class="headersubtext">
                Here are your personalized results for your specific situation. Results are reported for both the IBM System Z14 and a x86 system that has the same acquisition cost.
            </p>
            <p class="headersubtext">
                The model uses industry and best practices data for your industry, analytics type and business imperative. It also considers your investment size, risks, and other value drivers including specific cost and value drivers: system costs, software costs, operations costs, staff productivity by roles, organization productivity, faster time to value, improved revenues, trusted experiences, lower downtime, better security, governance and compliance.
            </p>
        </div>
    </div>
    <div class="row" style="height:30px;">

    </div>
</div>


<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <div class="count">1</div>
            <a href="#step-1" class="bg-circle btn-primary">
                <i class="fa fa-2x fa-fw fa-industry"></i>
            </a>
            <p>Industry</p>
        </div>
        <div class="stepwizard-step">
            <div class="count">2</div>
            <a href="#step-2" class="bg-circle" disabled="disabled">
                <i class="fa fa-2x fa-fw fa-bar-chart-o"></i>
            </a>
            <p>Business Imperative</p>
        </div>
        <div class="stepwizard-step">
            <div class="count">3</div>
            <a href="#step-3" class="bg-circle" disabled="disabled">
                <i class="fa fa-2x fa-fw fa-money"></i>
            </a>
            <p>Hardware Investment</p>
        </div>
        <div class="stepwizard-step">
            <div class="count">4</div>
            <a href="#step-4" class="bg-circle" disabled="disabled">
                <i class="fa fa-2x fa-fw fa-line-chart"></i>
            </a>
            <p>Type of Analytics</p>
        </div>
        <div class="stepwizard-step">
            <div class="count">5</div>
            <a href="#step-5" class="bg-circle" disabled="disabled">
                <i class="fa fa-2x fa-fw fa-newspaper-o"></i>
            </a>
            <p>Result</p>
        </div>
    </div>
</div>


<form role="form">
    <section class="industry setup-content" id="step-1">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 subheader">
                    Select Industry
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 nextBtn" data-industry="1" >
                    <img src="~/Assets/Images/Industry/finance.png" />
                    <div>Finance</div>
                </div>
                <div class="col-md-2 nextBtn" data-industry="2">
                    <img src="~/Assets/Images/Industry/retail.png" />
                    <div>Retail</div>
                </div>
                <div class="col-md-2 nextBtn" data-industry="3">
                    <img src="~/Assets/Images/Industry/healthcare.png" />
                    <div>Healthcare</div>
                </div>
                <div class="col-md-2 nextBtn" data-industry="4">
                    <img src="~/Assets/Images/Industry/telecom.png" />
                    <div>Telecom</div>
                </div>
                <div class="col-md-2 nextBtn" data-industry="2">
                    <img src="~/Assets/Images/Industry/others.png" />
                    <div>Others</div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>
    <section class="industry setup-content" id="step-2">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 subheader">
                    Select Business Imperative
                </div>
            </div>
            <div class="row align">
                <div class="col-md-2"></div>
                <div class="col-md-2 nextBtn" data-business="1">
                    <img src="~/Assets/Images/Business/EOP.png" />
                    <div>End of period processing</div>
                </div>
                <div class="col-md-2 nextBtn"  data-business="2">
                    <img src="~/Assets/Images/Business/rfue.png" />
                    <div>Revenue from user experience</div>
                </div>
                <div class="col-md-2 nextBtn">
                    <img src="~/Assets/Images/Business/co.png"  />
                    <div>Improve cliams optimization</div>
                </div>
                <div class="col-md-2 nextBtn">
                    <img src="~/Assets/Images/Business/pcc.png" />
                    <div>Prevent customer churn</div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>
    <section class="industry setup-content" id="step-3">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 subheader">
                    Select Hardware Investment
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <input id="slider" data-slider-id='ex1Slider' type="text" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="height:100px;margin-top:30px;">
                    <button type="button" class="btn btn-lg btn-primary nextBtn">Next</button>
                    <br />
                </div>
            </div>
        </div>
    </section>
    <section class="industry setup-content" id="step-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 subheader">
                    Select Type of Analytics
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2 nextBtn">
                    <img src="~/Assets/Images/Analytics/oda.png" />
                    <div>Open Data Analytics</div>
                </div>
                <div class="col-md-2 nextBtn">
                    <img src="~/Assets/Images/Analytics/ibmdb2.png" />
                    <div>IBM DB2 Analytics Accelerator</div>
                </div>
                <div class="col-md-2 nextBtn">
                    <img src="~/Assets/Images/Analytics/iml.png" />
                    <div>IBM Machine learning</div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">

            </div>
        </div>
    </section>
    <section class="industry setup-content charts" id="step-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 subheader ">
                    Results
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="divRoiChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                Return on Investment - ROI(%)
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="divPaybackChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                Payback Period (Months)
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-md-12 subheader ">
                    Distribution of Benefits and Costs
                </div>
            </div>
            <div class="row quad">
                <div class="col-md-12 quadrant-box-align-center quadrant-display-none">
                    <div class="bluebox quadrant-box">Direct</div>
                </div>
                <div class="col-md-6 br-right br-bottom br-right-green br-bottom-blue">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="divProductivityChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                2. Productivity
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 br-bottom br-bottom-blue">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="divCostsChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                1. Costs
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 br-right br-right-green">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="divRevenuesProfitChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">3. Revenues/Profits</h4>
                        </div>
                        <div class="quadbefore quadrant-display-none">Business</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="divRisksChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">4. Risks</h4>
                        </div>
                    </div>
                    <div class="quadafter quadrant-display-none">Technical</div>
                </div>
                <div class="col-md-12 quadrant-box-align-center quadrant-display-none">
                    <div class="bluebox-light quadrant-box">Derived</div>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-md-12 text-left" style="font-size:20px;padding:0px;">
                    Detailed Results
                </div>
                <div>
                    To get a detailed personalized report with the underlying assumptions and description of the model used to arrive the results, click here for the PDF
                </div>
            </div>
        </div>
    </section>
    <br />
    <br />
</form>
<script src="~/Assets/js/chartist.js"></script>
<script src="~/Assets/js/bootstrap-slider.js"></script>
<script src="~/Assets/js/chartist-plugin-legend.min.js"></script>
<script src="~/Assets/js/Chartist-pointlabels.js"></script>
<script>
    function loadchart() {
        dataProductivityChart = {
            labels: ['C-level executive', 'IT personnel ', 'Organizational'],
            series: [
                {
                    name: 'X86',
                    data: [179.2, 877.8, 897]
                }, {
                    name: 'Z14',
                    data: [216, 997.5, 975]
                }
            ]
        };
        dataCostsChart = {
            labels: ['System Acquisition', 'Software Acquisition', 'Operations'],
            series: [
                {
                    name: 'X86',
                    data: [957, 1682.2, 546.1]
                }, {
                    name: 'Z14',
                    data: [668.9, 399.4, 205.4]
                }
            ]
        };
        dataRevenuesProfitChart = {
            labels: ['Improved Revenue', 'Faster-time-to-value', 'Trusted Experiences'],

            series: [
                {
                    name: 'X86',
                    data: [1512, 840, 186.4]
                }, {
                    name: 'Z14',
                    data: [1680, 1064, 207.2]
                }
            ]
        };
        dataRisksChart = {
            labels: ['End-to-End Security', 'Improved governance and compliance', 'Reduced downtime'],
            series: [
                {
                    name: 'X86',
                    data: [846.8, 801, 546.4]
                }, {
                    name: 'Z14',
                    data: [1004.5, 885, 764.9]
                }
            ]
        };
        dataRoiChart = {
            labels: ['X86', 'Z14'],
            series:
                [56, 363]
        };
        dataPaybackChart = {
            labels: ['X86', 'Z14'],
            series:
                [17.15, 5.88]
        };

        optionsChart = {
            chartPadding: {
                top: 30,
                right: 0,
                bottom: 20,
                left: 0
            },
            seriesBarDistance: 40,
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 0
            }),

            axisY: {
                labelInterpolationFnc: function (value) {
                    return '$' + value
                }, offset: 50
            }
            ,
            plugins: [
                Chartist.plugins.legend({
                    position: 'top'
                })
                ,
                Chartist.plugins.ctBarLabels()
            ]
        };

        optionsChartdistributed_ROI = {
            chartPadding: {
                top: 50,
                right: 0,
                bottom: 0,
                left: 0
            },
            seriesBarDistance: 50,
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 0
            }),
            distributeSeries: true,
            axisY: {
                labelInterpolationFnc: function (value) {
                    return value + '%'
                }, offset: 50
            }
            ,
            plugins: [
                Chartist.plugins.ctBarLabels_percentage()
            ]
        };
        optionsChartdistributed_PB = {
            chartPadding: {
                top: 50,
                right: 0,
                bottom: 0,
                left: 0
            },
            seriesBarDistance: 50,
            lineSmooth: Chartist.Interpolation.cardinal({
                tension: 0
            }),
            distributeSeries: true,
            axisY: {
                labelInterpolationFnc: function (value) {
                    return value
                }, offset: 50
            }
            ,
            plugins: [
                Chartist.plugins.ctBarLabels_null()
            ]
        };


        //var divProductivityChart =
        new Chartist.Bar('#divProductivityChart', dataProductivityChart, optionsChart);
        //var divCostsChart =
        new Chartist.Bar('#divCostsChart', dataCostsChart, optionsChart);
        //var divRevenuesProfitChart =
        new Chartist.Bar('#divRevenuesProfitChart', dataRevenuesProfitChart, optionsChart);
        //var divRisksChart =
        new Chartist.Bar('#divRisksChart', dataRisksChart, optionsChart);

        //var divRoiChart =
        new Chartist.Bar('#divRoiChart', dataRoiChart, optionsChartdistributed_ROI);
        //var divPaybackChart =
        new Chartist.Bar('#divPaybackChart', dataPaybackChart, optionsChartdistributed_PB);



        //md.startAnimationForLineChart(divProductivityChart);
        //md.startAnimationForLineChart(divCostsChart);
        //md.startAnimationForLineChart(divRevenuesProfitChart);
        //md.startAnimationForLineChart(divRisksChart);
        //md.startAnimationForLineChart(divRoiChart);
        //md.startAnimationForLineChart(divPaybackChart);

    }
    $(document).ready(function () {
        $("#slider").slider({
            id: "slider", min: 600000, max: 2200000, range: false, value: 1100000, tooltip_split: false, tooltip_position: 'top', tooltip: 'show',
            formatter: function (val) {
                if (Array.isArray(val)) {
                    return "$" + val[0];
                } else {
                    return "$" + val;
                }
            },

        });

        var navListItems = $('div.setup-panel div a'),
            allWells = $('.setup-content'),
            allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
                if ($target.attr('id') == "step-5") {
                    $('#divResults').attr('Style', '');
                    $('#divSpecify').attr('Style', 'display:none;');
                    loadchart();
                }
                else {
                    $('#divResults').attr('Style', 'display:none;');
                    $('#divSpecify').attr('Style', '');
                }
            }
        });

        allNextBtn.click(function () {
            var curStep = $(this).closest(".setup-content"),
                curStepBtn = curStep.attr("id"),
                nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                curInputs = curStep.find("input[type='text'],input[type='url']"),
                isValid = true;

            $(".form-group").removeClass("has-error");
            for (var i = 0; i < curInputs.length; i++) {
                if (!curInputs[i].validity.valid) {
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });
        if (window.location.href.indexOf("step-5") != -1) {
            $('#step-4 .nextBtn').trigger('click');
        }
        else
            $('div.setup-panel div a.btn-primary').trigger('click');
    });
</script>

